/* TAB NAVIGATION BAR */
.tab-navigation {
	margin: 0;
	padding: 0 12.5px;
	font-size: 11px;
	background-color: rgb(87, 114, 227);
	text-transform: uppercase;
}
.tab-navigation > .link, .tab-navigation > .tab-link {
	margin: 0;
	color: rgba(255, 255, 255, 0.875);
	padding: 22.5px 10px 7.5px 10px;
	display: inline-block;
	cursor: pointer;
}
.tab-navigation > .link.left-aligned, .tab-navigation > .tab-link.left-aligned {
	float: left;
}
.tab-navigation > .tab-link.active {
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% calc(100% - 12.5px);
	color: #353F6C;
}

/* TAB CONTENT */
.tab-content {
	display: none;
	padding: 12.5px;
}
.tab-content.active {
	display: block;
}
.tab-content > .sub-content {
	display: none;
}
.tab-content > .sub-content.active {
	display: block;
}